<div class="container">
  <div class="my-2">
      <label class="d-block">Estás sobre: </label>
      <span>{{state}}</span>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="svg-map" [attr.viewBox]="Mexico.default.viewBox">
      <path 
      class="svg-map__location"
      (click)="clickLocation($event)" 
      *ngFor="let location of Mexico.default.locations"
      [attr.id]="location.id" 
      role="link" 
      [attr.name]="location.name"
      [attr.aria-label]="location.name"
      [attr.d]="location.path"
      (mouseover)="changeText($event)"
      (mouseout)="changeText($event)"
      />
  </svg>
</div>